body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f0f0f;
  color: white;
}

header {
  text-align: center;
  padding: 40px;
  background: #1a1a1a;
}

.container {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 40px;
  flex-wrap: wrap;
}

.card {
  background: #222;
  padding: 20px;
  border-radius: 12px;
  width: 220px;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

button {
  margin-top: 10px;
  padding: 10px;
  border: none;
  cursor: pointer;
  background: #00ff99;
  color: black;
  font-weight: bold;
  border-radius: 6px;
}
