body {
  margin: 0;
  font-family: Arial;
  background: #0f0f0f;
  color: white;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: #1a1a1a;
}

/* HERO */
.hero {
  display: flex;
  gap: 20px;
  padding: 40px;
  align-items: center;
}

.hero img {
  width: 300px;
  border-radius: 10px;
}

/* SORT BAR */
.sort-bar {
  display: flex;
  gap: 10px;
  padding: 20px;
  justify-content: center;
}

.sort-bar button {
  padding: 10px;
  border: none;
  cursor: pointer;
}

/* PRODUCTS */
.products {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

.card {
  background: #222;
  padding: 15px;
  width: 200px;
  border-radius: 10px;
}
